h1 Home#index
h1 Hello, Rails!
= link_to "Conceptos", items_path 
br/

= link_to "Conceptos por sede",item_headquarters_path 
br/
= link_to "Deudas",debts_path 
br/
= link_to "Pagos",payments_path 
br/


= link_to "Acuerdos de pago",agreement_payments_path 
br/
= link_to "Cuotas",quota_path 
br/

= link_to "Descuentos",discounts_path 