.page-header
    h3 Nuevo Acuerdo de Pago
    h5= "#{@user.name} (#{@user.email})"

br

= render 'form' 

br

= link_to 'Volver', debts_user_path(@user, tab:"#agreement-payments"), class: "btn btn-default" 
